-e git+ssh://git@github.com/dpretet/HDLr.git@563b86937bafef44131ea5930e613613f441b028#egg=hdlr
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
Pygments==2.19.2
pytest==9.0.2
ruff==0.15.4
tree-sitter==0.25.2
tree-sitter-verilog==1.0.3
tree-sitter-vhdl==1.4.0
